#menu_bar{
    list-style-type:none;
    padding: 0px;
    width: 960px;
    margin: 0 auto;
    background-color:#4e4e4e;
    min-height: 38px;
    border-bottom: orange solid 5px;
}
#menu_bar li{
    float: left;
    border-right: #605b5b solid 1px;
    border-left: #2b2a2a solid 1px;
    position: relative;
}
#menu_bar li:first-child{
    border-left: none;
}
#menu_bar li:last-child{
    border-right: none;
}
#menu_bar li a{
    text-decoration: none;
    background-color: #4e4e4e;
    color: white;
    padding: 10px 40px;
    display: block;
}
#menu_bar li a:hover{
    background-color: orange;
}

#menu_bar li ul{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    top: -300px;
}
#menu_bar li ul li{
    float: none;
    border-left: none;
    border-right: none;
    border-top: #605b5b solid 1px;
    border-bottom: #2b2a2a solid 1px;
    width: 200px;
    position: relative;
}
#menu_bar li ul li:first-child{
    border-top: orange solid 5px;
}
#menu_bar li:hover ul{
    top: 38px;
}
#menu_bar li ul li ul{
    position: absolute;
    left: -999999px;
}
#menu_bar li ul li:hover ul{
    left: 200px;
    top: 0px;
}
#menu_bar li ul li ul li:first-child{
    border-top: none;
}

#h1{
    font-family:Hind_Siliguri_Bold;
    color: #ce289c;
}
#h2{
    font-family: brushstr;
    color: #0bc458;
}

p{
    color: black;
}
.Lorem{
    font-weight: bold;
    color: yellowgreen;
    font-size:1.5em;
    text-decoration: underline;
    text-decoration: line-through;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-variant:small-caps;

    font: bold italic small-caps 1.5em/100% arial;
}

.eating{
    font-weight: bold;
    text-decoration: underline;
    color: red;
    font-size: 150%;
}

.table_2, th,td{
    width: 500;
    text-align: center;
    margin: 50px auto;
    border-collapse: collapse;
    border: 2px solid red;
}

.total{
    text-align: left;
}

.table2_caption{
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Lucida Sans Unicode';
    background-color: blueviolet;
    border: 2px solid red;
    color: white;
}

.id2{
    background-color: aqua;
    color: brown;
}

.blue{
    background-color: blue;
    color: white;
}

.div1{
    height: 250px;
    width: 100%;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    

}

.div2{
    height: 300px;
    width: 350px;
    background-color: brown;
    margin: 20px;
    padding: 20px 20px;
    float: left;
    transition: all 2s;
}

.div2:hover{
    background-color: blueviolet;
    transform:skewY(7deg);
    
}

.div3{
    height: 300px;
    width: 600px;
    background-color: rgb(42, 165, 63);
    margin: 20px;
    margin-left: 10px;
    padding: 20px;
    float: left;
}

.flower{
    margin: 25px;
    width: cover;
    height: 365px;
    background-color: aquamarine;
    padding: 20px;
    border-color: brown;
    border: 10px;

}

.Lorem_large{
    font-size: x-large;
    border: 2px solid red;
    width: 500px;
    height: 300px;
    overflow:scroll;
    display: block;
}

.button{
    background-color: brown;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    color: white;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    background-color: white;
    width: 300px;
    height: 55px;
    color: black;
    padding: 10px;
    border: 1px solid black;
    transition: padding 3s;
}

.button:active{
    background-color: gray;
    color: white;
}

.explore{
    float: left;
    clear: both;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    font-size: larger;
    border-radius: 8px;
    transition: background-color 2s, padding 0.3s;
}

.explore:hover{
    background-color:aqua;
    border: 1px;
    border-color: black;
    padding: 7px;
}  

.explore:active{
    color: white;
    transition: none;
}

.rectangle{
    background-color: rgb(38, 128, 212);
    width: 200px;
    height: 40px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: xx-large;
    border-radius: 20px;
    float:left;
    transition: background-color 2s, width 1s, text;
    clear: both;
}

.rectangle:hover{
    background-color: blueviolet;
    width: 400px;
}

.wrapper{
    display:block;
    clear: both;
    background: url(image/flower.png);
    background-size: cover;
    background-attachment:fixed;
}
/* Unordered List */
.ul_list{
    list-style-type:disc;
}

.form_text {
    width: 200px;
    height: 20px;
    color: black;
    background-color: rgb(252, 252, 252);
    border: 1px solid gray;
    border-radius: 5px;
}

.form_button{
    width: 100px;
    height: 40px;
    margin: 5px;
    color: white;
    background-image: linear-gradient(to bottom, #f84242, brown,#8a1f1f);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family:Arial;
}

.form_button:hover{
    background-image: none;
    background-color: #f84242;
    color: black;
    padding: 10px;
}
.form_button:active{
    background-image: none;
    background-color: #c23232;
    color: #b6b6b6;
}

.mydiv{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;

    animation: rahad 8s infinite ;
}
@keyframes rahad {
    0%{left: 0px; bottom: 0px; background-color: #c23232;}
    25%{left: 500px; bottom: 0px; background-color: tomato;}
    50%{left: 500px; bottom: 300px; background-color: orange;}
    75%{left: 0px; bottom: 300px; background-color: blueviolet;}
    100%{left: 0px; bottom: 0px; background-color:#c23232;}
}
audio{
    width: 600px;
    background-color: #0bc458;
    border-radius: 35px;
    padding: 10px;
}
video{
    width: 700px;
    background-color: #ce289c;
    border-radius: 5px;
    margin: 0px auto;
    padding: 10px;
}

.column{
    width: 960px;
    margin: 30px auto;
}
.box{
    width: 300px;
    margin-right: 30px;
    float: left;
}
.nomrgn{
    margin-right: 0px;
}
.box img{
    width: 300px;
    margin: 0 auto;
}
.box h2{
    color: orange;
    margin: 0;
}
.box p{
    font-family: arial;
    text-align: justify;
    margin: 5px;
}
#price{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box a{
    background-color: orange;
    text-decoration:none;
    text-align: center;
    margin: 5px auto;
    display: block;
    padding: 5px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: all 0.4s;
}
.box a:hover{
    background-color:chocolate;
    color: white;
}